<nav class="other">
  <ul>
    <li>
      <a href="http://piqi.org/" target="_blank">piqi官方网站</a>
    </li>
    <li>
      <a href="https://github.com/alavrik/piqi/blob/master/LICENSE/" target="_blank">版权声明</a>
    </li>
    <li>
      <a href="https://github.com/alavrik/piqi" target="_blank">GitHub repository</a>
    </li>
    <li>
      <a href="http://groups.google.com/group/piqi" target="_blank">Google Group</a>
    </li>

  </ul>
</nav>